body {
  margin-top: 50px;
  padding: 10px;
}

.form_wrapper {
  max-width: 700px;
  height: 750px;
  padding: {
    left: 30px;
    right: 40px;
  }
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: #F2F2F2;

  box-shadow: 1px 1px 15px #999999;
}

.form_wrapper h1{
  margin-top: 60px;
  text-align: center;
}

.form_wrapper img {
   max: {
    height: 200px;
     width: 200px;
  }
  display: block;
  margin: auto auto;
}

.form_wrapper .btn {
  width: 30%;
}

.form_wrapper a {
  float: right;
}

.register {
  @extend .form_wrapper;
  padding-top: 50px;
  height: 800px;
  margin-left: 0;
  margin-top: 30px;
}

.register a {
  float: none;
}

.settings {
  @extend .form_wrapper;
  padding-top: 50px;
  margin-left: 0px;
}

.settings h4
{
  margin-bottom: 50px;
}


.nav-stacked {
  margin-top: 50px;
  box-shadow: 1px 1px 15px #999999;
  height: 400px;
  padding-top: 30px;
}

.settings .form-group
{
  width: 300px;
}

.main_table, .main_table tr, .main_table td{
  border-collapse: collapse;
  border: 1px solid black;
  width: auto;
  height: auto;
}

.main_table td {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
}

.main_table {
  width: 100%;
  box-shadow: 1px 1px 15px #999999;
}

.main_table tr {
  box-shadow: 1px 1px 15px #999999;
}

.schedules {
  margin: 20px;
}

.meeting_presentation {
  border: 1px solid black;
  box-shadow: 1px 1px 15px #999999;
}





