body {
  margin-top: 50px;
  padding: 10px; }

.form_wrapper, .register, .settings {
  max-width: 700px;
  height: 750px;
  padding-left: 30px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: #F2F2F2;
  -webkit-box-shadow: 1px 1px 15px #999999;
          box-shadow: 1px 1px 15px #999999; }

.form_wrapper h1, .register h1, .settings h1 {
  margin-top: 60px;
  text-align: center; }

.form_wrapper img, .register img, .settings img {
  max-height: 200px;
  max-width: 200px;
  display: block;
  margin: auto auto; }

.form_wrapper .btn, .register .btn, .settings .btn {
  width: 30%; }

.form_wrapper a, .register a, .settings a {
  float: right; }

.register {
  padding-top: 50px;
  margin-left: 0;
  margin-top: 30px; }

.settings {
  padding-top: 50px;
  margin-left: 0px; }

.settings h4 {
  margin-bottom: 50px; }

.nav-stacked {
  margin-top: 50px;
  -webkit-box-shadow: 1px 1px 15px #999999;
          box-shadow: 1px 1px 15px #999999;
  height: 400px;
  padding-top: 30px; }

.settings .form-group {
  width: 300px; }
